<a href="https://colab.research.google.com/github/anamika130202/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Anamika_S_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Program to get largest number from a list**

In [19]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 2, 3, 6, 1, 5]))

6

# **Program to search an element in a list**

In [21]:
def search(dlist, item):
    pos = 0
    found = False
    
    while pos < len(dlist) and not found:
        if dlist[pos] == item:
            found = True
        else:
            pos = pos + 1
    
    return found, pos
print(search([1,2,3,4,5,6,7],4))

(True, 3)

# **Program to sum all the items in a list**

In [22]:
def sum_list(items):
    sum = 0
    for x in items:
        sum += x
    return sum
print(sum_list([5,6,7,8]))

26

# **Program to remove duplicates from a list**

In [8]:
def Remove(duplicate): 
	final_list = [] 
	for num in duplicate: 
		if num not in final_list: 
			final_list.append(num) 
	return final_list 
	
duplicate = [10,20,30,20,10,50,60,40,80,50,40]
print(Remove(duplicate))

[10, 20, 30, 50, 60, 40, 80]

# **Program that takes two lists and returns true if they have atleast one common member**

In [23]:
def lists(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(lists([1,2,3,4,5], [5,6,7,8,9]))
print(lists([1,2,3,4,5], [6,7,8,9]))

True
None

# **Program to append a list to the second list**

In [24]:
list1 = [1, 2, 3, 4]
list2 = ['Blue', 'Green', 'Yellow']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 'Blue', 'Green', 'Yellow']

# **Program to check if a given number is a composite number or not**

In [12]:
def composite(n): 

  factor=0
  for i in range(1,n):
    if n%i==0:
      factor=i
  if factor>1:
    print ('The number is a composite number!')
  elif n==1:
    print ('The number 1 is neither prime nor composite!')
  else:
    print ('This is not a composite number!')
composite(1)

The number 1 is neither prime nor composite!

In [13]:
composite(3)

This is not a composite number!

In [14]:
composite(4)

The number is a composite number!

In [15]:
def composite(n): 
  factor=0
  print("n:",n)
  for i in range(1,n):
    print("i:",i)
    if n%i==0:
      print("Inside if loop")
      factor=i
      print("Factor:",factor)
  print("After for loop: Value of factor",factor)
  if factor>1:
    print (n,' is a composite number!')
  elif n==1:
    print ('The number 1 is neither prime nor composite!')
  else:
    print(factor)
    print (n,' is not a composite number!')
composite(7)

n: 7
i: 1
Inside if loop
Factor: 1
i: 2
i: 3
i: 4
i: 5
i: 6
After for loop: Value of factor 1
1
7  is not a composite number!

# **Program to add two matrices using a list**

In [25]:
X = [[1,2,3],    [4 ,5,6],    [7 ,8,9]]
Y = [[10,11,12],    [13,14,15],    [16,17,18]]

result = [[0,0,0],  [0,0,0],  [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

# **Program to check if a string is palindrome or not**

In [17]:
def palindrome(str):
  #print (len(str)/2)
  #print (int(len(str)/2))
  for i in range(0, int(len(str)/2)): 
    if str[i] != str[len(str)-i-1]:
      return "Not Palindrome"
  return "Palindrome"
palindrome("malayalam")

'Palindrome'

# **Program to print multiplication table of a number**

In [26]:
def table(number,start,end): 
	for i in range (start, end+1): 
		print ("%d * %d = %d" % (number, i, number * i) )
table(9,1,20)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
9 * 13 = 117
9 * 14 = 126
9 * 15 = 135
9 * 16 = 144
9 * 17 = 153
9 * 18 = 162
9 * 19 = 171
9 * 20 = 180