<a href="https://colab.research.google.com/github/anamika130202/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Anamika_S(Assignment_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=input("Enter the first string:")
b=input("Enter the second string:")
if(a==b):
   print("The two strings are same")
else:
   print("The two strings are different")

Enter the first string:Anamika
Enter the second string:anamika
The two strings are different

In [6]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
sum=a+b
print(sum)

Enter the first number:24
Enter the second number:56
80

In [4]:
num=int(input("Enter the number:"))
sqrt=num**0.5
print(sqrt)

Enter the number:625
25.0

In [7]:
a=float(input("Enter the length of first side:"))
b=float(input("Enter the length of second side:"))
c=float(input("Enter the length of third side:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('The area of the triangle is %0.2f'%area)

Enter the length of first side:2
Enter the length of second side:8
Enter the length of third side:8
The area of the triangle is 7.94

In [8]:
celsius=float(input("Enter temperature in Celsius:"))
fahrenheit=(celsius*1.8)+32
print('The temperature in Fahrenheit is %0.2f'%fahrenheit)

Enter temperature in Celsius:0
The temperature in Fahrenheit is 32.00

In [9]:
num=float(input("Enter the number:"))
if num>0:
   print("Positive number")
elif num==0:
   print("Zero")
else:
   print("Negative number")

Enter the number:-34
Negative number

In [10]:
a=float(input("Enter first number:"))
b=float(input("Enter second number:"))
c=float(input("Enter third number:"))
if (a>b) and (a>c):
    large=a
elif (b>a) and (b>c):
    large=b
else:
    large=c
print("The largest number is",large)

Enter first number:24
Enter second number:56
Enter third number:18
The largest number is 56.0

In [13]:
a=str(input("Enter your name:"))
b=str(input("Enter your address:"))
c=str(input("Enter your number:"))
print("Your name is:",a)
print("Your address is:",b)
print("Your number is:",c)

Enter your name:Anamika
Enter your address:ABC123
Enter your number:9876543210
Your name is: Anamika
Your address is: ABC123
Your number is: 9876543210

In [14]:
print("Your name is:",name)

NameError: ignored

In [15]:
name="Anamika"
print("Your name is:",name)

Your name is: Anamika

In [17]:
width=int(input("Enter the width:"))
height=int(input("Enter the height:"))
area=width*height
print("The area is:",area,"square units")

Enter the width:11
Enter the height:4
The area is: 44 square units

In [19]:
base=int(input("Enter the base length:"))
height=int(input("Enter the height:"))
area=(base*height)/2
print("The area is:",area,"square units")

Enter the base length:12
Enter the height:15
The area is: 90.0 square units

In [20]:
radius=float(input("Enter the radius of the circle:"))
area=3.14*radius**2
print("The area is:",area,"square units")

Enter the radius of the circle:10
The area is: 314.0 square units

In [24]:
name=str(input("Enter your name:"))
age=int(input("Enter your age:"))
print("Your name is",name,"and your age is",str(age))

Enter your name:Anamika
Enter your age:18
Your name is Anamika and your age is 18

In [25]:
x=int(input("Enter a number"))
a=x+1
print("The result is:",a)

Enter a number23
The result is: 24

In [27]:
a=str(input("Enter your first name:"))

Enter your first name:Anamika